<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/ordermethod/update}" method="post"  th:object="${obj}">
<pre>
<input type="hidden" th:field="*{id}" />
Order mode: <input type="radio" th:field="*{orderMode}" value="Sale"> sale  <input type="radio" th:field="*{orderMode}" value="Purchase">  Purchase
            
orderCode : <input type="text" th:field="*{orderCode}">
            

orderType: <select th:field="*{orderType}">
            <option value="-1">--select--</option>
             <option value="Fifo">FIFO</option>
             <option value="Lifo">LIFO</option>
             <option value="Fefo">FEFO</option>
            
            </select>
            
            
 orderAcpt: <input type="checkbox" th:field="*{orderAcpt}" value="Multi-Model">Multi-Model
             <input type="checkbox" th:field="*{orderAcpt}" value="Accept Return">Accept Return


description: <textarea rows="" cols="" th:field="*{description}"></textarea>

            
<input type="submit" name="btn" value="Add">Update



</pre>
</form>
</body>
</html>