<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Login_Form</display-name>
  
  
   <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>demo.login</servlet-class>
        <init-param>
            <param-name>class</param-name>
            <param-value>oracle.jdbc.OracleDriver</param-value>
        </init-param>

        <init-param>
            <param-name>user</param-name>
            <param-value>system</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>Jitu1234</param-value>
        </init-param>
        
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:oracle:thin:@localhost:1521:ORCL</param-value>
        </init-param>
        
        
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
</web-app>